/* Container for the whole content of the page*/
.cartDisplayContainer{
    margin-left: auto;
    margin-right: auto;
    background-color: green;
    border-radius: 2%;
    width:70%;
    overflow: hidden;
}
/* Content of selected items displayed in the side cart*/
.sideCart{
    background-color: #65471f;
    width: 70%;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    display: flex;
    overflow: hidden;
}

/* Adjustments of the image in the cart*/
.image{
    margin: 0;
    width: 20%;
    
}
.image img{
    width:100%;
    margin-top: 2%;
    margin-left: 2%;
}

.text{
    margin-left: 7%;
    display: block;
}


.footer{
    position: absolute;
    bottom: 1;
    overflow: hidden;
    text-align: center;
    color: whitesmoke;
    background-color:#65471f;
    width: 100%;
}