/* Container for the whole content of the page*/
.cartDisplayContainer{
    margin-left: 3%;
    margin-top: -2%;
    margin-right: auto;
    background-color: rgb(111, 143, 111);
    border-radius: 2%;
    width:50%;
    box-shadow: 0 4px 8px 0 black;
    padding: 5px;
}
/* Content of selected items displayed in the side cart*/
.sideCart{
    background-color: rgb(204, 202, 202);
    width: 89%;
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 20px;
    display: flex;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 black;

}

/* Adjustments of the image in the cart*/
.image{
    margin: 0;
    width: 27%;
}
.image img{
    width:100%;
    margin-top: 2%;
    margin-left: 2%;
    box-shadow: 0 4px 8px 0 black;

}

.text{
    margin-left: 7%;
    display: block;
    width:80%;
}

.text h1{
    font-size: xx-large;
}

.text p{
    font-size: large;
    margin-top: -4%;
    margin-bottom: 10%;
}
