.timeout{
    text-align: center;
    visibility: collapse;
}

/* css for main conatiner dispalying categories */
.categoryDisplayContainer{
    display: flex;
    margin-top: 2%;
    flex-wrap: wrap;
}
/* css for sidebar for filters */
.sidebar{
    display: block;
    float: left;
    width:20%; 
    height: 100%;
    position: relative;
    overflow-x: hidden;
    margin-left: 2%;
    margin-bottom: 4%;
    background-color: rgb(204, 202, 202);
    border-radius: 10px;
    box-shadow: 0 1px 5px 0 black;
}

/* css for h1 text in sidebar */
.sidebar h1{
    padding-left: 10%;
}

/* css for p text in sidebar */
.sidebar p{
    padding-left: 10%;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5%;
}

/* css for input buttons in sidebar */
.sidebar input{
    vertical-align: middle;
    position: relative;
    margin-bottom: -9%;
    margin-left: 10%; 
}

/* css for labels in sidebar */
.sidebar label{
    margin-left: auto;
    display: block;
    font-size: 18px;
    padding-left: 17%;
}

/* css for button in sidebar */
.sidebar button {
    font-size: 20px;
    border-radius: 20px;
    margin-left: 28.5%;
    margin-bottom: 8%;
    margin-top: 8%;
    padding: 6px;
    padding-inline: 30px;
}

/* css for displaying all products */
.mainContainer{
    width: 70%;
    display: block;
    float: left;
    margin: auto;
    margin-left: 4%;
    margin-top: 0;
    background-color: rgb(111, 143, 111);
    border-radius: 10px;
    box-shadow: 0 1px 5px 0 black;
}