/* div for side summary information */
.sideSummaryContainer{
height:auto;
width: 45%;
display:flexbox;
}

/* div for address container */
.sideAddressContainer{
    background-color: rgb(204, 202, 202);
    width: auto;
    padding: 10px;
    margin: auto;
    margin-left: 9%;
    
    border-radius: 5px;
    box-shadow: 0 2px 8px 0 black;
    overflow: hidden;
}

/* text modification in address container */
.sideAddressContainer p{
    font-size: large;
    font-weight: bold;
    margin-left: 15px;
    float: left;
    margin-top:10px ;
    margin-bottom: 5px;
}

/* address inpuit field */
.basicAddress{
    margin-left: 15px;
    width: 350px;
    height: 30px;
}

/* street input field */
.street{
    margin-left: 30px;
    width: 200px;
    height: 30px;
}

/* emirate input field */
.emirate{
    margin-left: 15px;
    width: 200px;
    height: 30px;
}

/* phone number input field */
.phoneNum{
    margin-left: 30px;
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
} 

/* delivery option container modification */
.sideDeliveryContainer{
    float: left;
    height: auto;
    margin-left: 9%;
    margin-bottom: 5%;
    width: auto;
    background-color: rgb(204, 202, 202);
    box-shadow: 0 4px 8px 0 black;
    border-radius: 20px;
}

/* Text adjustments for delivery div */
.deliveryText{
    font-size: 25px;
    font-weight: bold;
    margin-top:20px ;
    margin-bottom: 1px;
    margin-left: 15px;
    float:left;
}

/* Radio adjustment for delivery options */
.radio{
    float: left;
    margin-left: 15px;
    height: 20px;
    width: 20px;
    margin-top: 35px;
    border-radius: 50%;
}

/* div for the container place order*/
.placeOrderContainer{
    float: left;
    height: auto;
    overflow: hidden;
    margin-left: 25%;
    margin-bottom: 5%;
    width: 60%;
    background-color: rgb(204, 202, 202);
    box-shadow: 0 4px 8px 0 black;
    border-radius: 10px;
}

/* adjustment for final price */
.amount{
    float: left;
    display: flex;
    height: 50px;
    width: 45%;
    margin-top: 3%;
    margin-left: 3%;
    border: solid;
    border-color: black;
    border-radius: 10px;
    background-color: rgb(236, 241, 245);
    overflow: hidden;
}

/* adjustmetns for button div */
.placeOrderBtn{
    float: left;
    margin-top: 3%;
    margin-left: 5%;
    width: 40%;
    height: 60px;
    overflow: hidden;
    
}

/* adjustmetns for button div */
.placeOrderBtn button{
    height: 90%;
    width: 100%;
    font-size:23px;
    color:azure;
    background-color: brown;
    border-radius: 10px;
}

