.sideSummaryContainer{
height:auto;
width: 45%;
display:flexbox;
}

.sideAddressContainer{
    background-color: rgb(204, 202, 202);
    width: auto;
    padding: 10px;
    margin: auto;
    margin-left: 9%;
    
    border-radius: 5px;
    box-shadow: 0 2px 8px 0 black;
    overflow: hidden;
}
.sideAddressContainer p{
    font-size: large;
    font-weight: bold;
    margin-left: 15px;
    float: left;
    margin-top:10px ;
    margin-bottom: 5px;
}

.basicAddress{
    margin-left: 15px;
    width: 350px;
    height: 30px;
}

.street{
    margin-left: 30px;
    width: 200px;
    height: 30px;
}

.emirate{
    margin-left: 15px;
    width: 200px;
    height: 30px;
}

.phoneNum{
    margin-left: 30px;
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
} 

.sideDeliveryContainer{
    float: left;
    height: auto;
    margin-left: 9%;
    margin-bottom: 5%;
    width: auto;
    background-color: rgb(204, 202, 202);
    box-shadow: 0 4px 8px 0 black;
    border-radius: 20px;
}

.deliveryText{
    font-size: 25px;
    font-weight: bold;
    margin-top:20px ;
    margin-bottom: 1px;
    margin-left: 15px;
    float:left;
}

.radio{
    float: left;
    margin-left: 15px;
    height: 20px;
    width: 20px;
    margin-top: 35px;
    border-radius: 50%;
}

.placeOrderContainer{
    float: left;
    height: auto;
    overflow: hidden;
    margin-left: 25%;
    margin-bottom: 5%;
    width: 60%;
    background-color: rgb(204, 202, 202);
    box-shadow: 0 4px 8px 0 black;
    border-radius: 10px;
}

.amount{
    float: left;
    display: flex;
    height: 50px;
    width: 45%;
    margin-top: 3%;
    margin-left: 3%;
    border: solid;
    border-color: black;
    border-radius: 10px;
    background-color: rgb(236, 241, 245);
    overflow: hidden;
}

.placeOrderBtn{
    float: left;
    margin-top: 3%;
    margin-left: 5%;
    width: 40%;
    height: 60px;
    overflow: hidden;
    
}

.placeOrderBtn button{
    height: 90%;
    width: 100%;
    font-size:23px;
    color:azure;
    background-color: brown;
    border-radius: 10px;
}

