/* font for body of all pages*/
body {
    font-family: 'Jost', arial;
    padding: 0;
    margin: 0;
    background-color: #798155;
}

/*navigation bar*/
.navbar {
    left: 0;
    top: 0;
    position: sticky;
    /*navigation stays on top while scrolling*/
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    z-index: 1;
}

/*css for <a> tags in navigation bar*/
.navbar li a {
    float: left;
    font-size: 17px;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 24.5px;
    text-decoration: none;
    max-width: fit-content;
    padding-inline: 20px;
    transition: transform .5s;
    /* Animation */
}


/* searchbar inside navbar */
.searchbar {
    float: left;
    font-size: 16px;
    border: 0;
    width: 40%;
    padding: 10px;
    padding-inline: 30px;
    border-radius: 15px;
    margin: 12px;
    background-color: rgb(231, 227, 227);
    text-decoration: rgb(91, 99, 40);
}

input.searchbar {
    color: #65471f;
}

.searchbar::placeholder {
    color: #65471f;
}

/* aligning searchbar in navbar */
.navbar li:nth-child(2) {
    padding-left: 13%;
}

/* css for logo container*/
.navbar li:first-child a {
    padding: 0;
    padding-top: 5px;
    padding-left: 30px;
}

/* css for cart */
.navbar li:nth-child(3) a {
    padding: 13px;
    padding-inline: 20px;
    font-size: 30px;
}

/* css for profile */
.navbar li:nth-child(4) a {
    padding: 13px;
    padding-inline: 20px;
    font-size: 30px;
}

/* css for logo */
.navbar li a img {
    width: 110px;
    height: 55px;
}

/*selected class highlights the <a> tag of the current page*/
.selected {
    color: white;
    /* background-color:#798155; */
}

/* Change the link color to black on hover */
.navbar li a:hover {
    color: #ffffff;
    background-color: rgb(68, 1, 1);
    transform: scale(1.1);
    /* 110% zoom */
    box-shadow: 0 4px 8px 0 black;
    /*black shadow on hover*/
}

/*navigation bar*/
.categoryNavbar {
    /* top: 64.8px; */
    
    position:sticky; /*navigation stays on top while scrolling*/
    list-style-type: none;
    top:4;
    padding: 0;
    padding-left: 20%;
    margin: auto;
    overflow: hidden;
    background-color: rgb(231, 227, 227);
    z-index: 1;
}

.categoryNavbar li a {
    float: left;
    font-size: 17px;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    padding-inline: 85px;
    transition: transform .5s;
    /* Animation */
}

/* Change the link color to black on hover */
.categoryNavbar li a:hover {
    color: #ffffff;
    background-color: rgb(70, 46, 46);
    transform: scale(1.1);
    /* 110% zoom */
    box-shadow: 0 4px 8px 0 black;
    /*black shadow on hover*/
}

.featured_container {
    margin: auto;
    margin-top: 40px;
    text-align: center;
    width: 70%;
    height: 500px;
    border: 7px;
    border-style: solid;
    border-radius: 5px;
    overflow: hidden;
}

.image-container {
    width: 3189.9px;
    background-color: pink;
    height: 500px;
    clear: both;
    position: relative;
    transition: left 2s;
}

.slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}

#slide-1:target~.image-container {
    left: 0px;
}

#slide-2:target~.image-container {
    left: -1063.3px;
}

#slide-3:target~.image-container {
    left: -2126.6px;
}

.dots {
    position: relative;
    top: -25px;
}

.dots a {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: lightgreen;
}

/*css for heading of the page*/
.heading {
    font-size: 50px;
    text-align: center;
    font-weight: lighter;
    margin-top: 20px;
    margin-bottom: 0;
    color: #ffffff;
}

.products {
    width: 70%;
    margin: auto;
    display: table;
    margin-bottom: 4%;
    margin-top: 10px;
    background-color: rgb(111, 143, 111);
    box-shadow: 0 1px 5px 0 black;
}

.card {
    float: left;
    display: table-cell;
    margin: 26px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    background-color: rgb(204, 202, 202);
    width: 20%;
    height: 10%;
    text-align: center;
    transition: transform .5s;
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 black;
}

.card p {
    margin-top: -6%;
}

.card h1 {
    font-size: x-large;
    margin-top: 7px;
}

.card p button {
    padding: 2%;
}

.card img {
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    box-shadow: 0 1px 5px 0 black;
}

.card:hover {
    color: #ffffff;
    background-color: rgb(70, 46, 46);
    transform: scale(1.05);
    /* 105% zoom */
    box-shadow: 0 4px 8px 0 black;
    /*black shadow on hover*/
}

footer {
    position: absolute;
    bottom: 1;
    overflow: hidden;
    text-align: center;
    color: whitesmoke;
    background-color: #65471f;
    width: 100%;
    margin-top: 5%;
}
