.productDisplayContainer{
    display: inline-flex;
    float: left;
}
.sidebar{
    display: block;
    width:10%; 
    height: 100%;
    position: relative;
    overflow-x: hidden;
    margin-left: 2%;
}

.sidebar input{
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}
.sidebar label{
    display: block;
    font-size: 20px;
    padding-left: 9%;
}

.mainContainer{
    width: 70%;
    margin: auto;
    margin-left: 7%;
    display: block;
}